<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/general :: head">
<title>DELETE SHOW</title>
</head>
<body>
	<div class="content">
		<h1>Deleting a Show</h1>
		<nav th:replace="fragments/menu :: menu"></nav>
		<h2>Are you sure?</h2>
		<div th:object="${show}">
			<table th:replace="fragments/tvShowFragments :: showFormRead"></table>
			<a th:href="@{/tvshows/delete/confirm(tvShowId=${show.userShowId})}"><input
				value="Delete" type="button"></a> <a th:href="@{'/tvshows'}"><input
				value="Cancel" type="button"></a>
		</div>
	</div>
	<div th:replace="fragments/general :: footer"></div>
</body>
</html>