<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/general :: head">
<title>DELETE SHOW</title>
</head>
<body>
	<div class="content">
		<h1>Deleting a Show</h1>
		<nav th:replace="fragments/menu :: menu"></nav>
		<h2>Are you sure?</h2>
		<div th:object="${show}">
			<div th:replace="fragments/tvShowFragments :: tvShowForm"></div>
			<a th:href="@{/tvshows/delete/confirm(tvShowId=${show.userShowId})}">
			<input type="button" value="Delete"></a>
			<a th:href="@{/tvshows/edit(tvShowId=${show.userShowId})}">
			<input type="button" value="Cancel"></a>
		</div>
	</div>
	<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>