<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/general :: head"></head>
<body>
	<div class="content">
		<h1>Edit Show</h1>
		<nav th:replace="fragments/menu :: menu"></nav>
		<br>
		<div th:object="${show}">
			<form th:action="@{'/tvshows/edit'}" method="POST">
				<div th:replace="fragments/tvShowFragments :: tvShowForm"></div>
				<p>
					<input value="Update" type="submit"> <a
						th:href="@{/tvshows/delete(tvShowId=*{userShowId})}"> <input
						value="Delete" type="button"></a>
				</p>
			</form>
			<div class="table-container">
			<table class="table table-hover">
				<thead class="thead">
					<tr>
						<th scope="col">Season</th>
						<th scope="col">Episode</th>
						<th scope="col">Current</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="season,iterStat : *{seasons}">
						<th scope="row" th:text="${season.seasonNum}"></th>
						<td class="text-center">
							<button class="btn" th:onclick="|decrement_season_episode(${season.userSeasonId}, ${iterStat.index})|">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" 
								fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
									<path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
								</svg>
							</button>
							<span th:id="|season-${iterStat.index}|" th:text="${season.episode}"></span>
							<button class="btn" th:onclick="|increment_season_episode(${season.userSeasonId}, ${iterStat.index})|">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" 
								fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
									<path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
								</svg>
							</button>
						</td>
						<td>
							<input type="submit" th:id="${'btn-set-season-' + season.userSeasonId}"
							th:onclick="|set_current_season(${show.getCurrentSeasonItem().userSeasonId}, ${season.userSeasonId})|" 
							value="Set" th:hidden="${show.currentSeason == season.seasonNum}">
						</td>
						<td>
						<a th:href="@{/tvshows/deleteseason(seasonId=${season.userSeasonId},tvShowName=${show.name},showId=${show.userShowId})}">
							<input type="button" class="btn btn-warning" value="Delete">
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			<p>
				<a th:href="@{/tvshows/addseason(tvShowId=*{userShowId})}"><input
					value="Add Season" type="button"></a>
			</p>
		</div>
	</div>
	<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>