<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/general :: head"></head>
<body>
	<div class="content fullHeight">
		<h1>Books</h1>
		<nav th:replace="fragments/menu :: menu"></nav>
		<br>
		<table class="table table-hover">
			<thead class="thead">
				<tr>
					<th scope="col">Book Name</th>
					<th scope="col">Book Rating</th>
					<th scope="col">Genre</th>
					<th scope="col">Page Length</th>
					<th scope="col">Current Page</th>
					<th scope="col">Read</th>
					<th scope="col">Favorite</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book: ${books}">
					<td th:text="${book.name}"></td>
					<td th:text="${book.rating}"></td>
					<td th:text="${book.genre}"></td>
					<td th:text="${book.totalPages}"></td>
					<td th:text="${book.currentPage}"></td>
					<td th:text="${book.status}"></td>
					<td th:text="${book.isFavorite} ? 'Yes':'No'"></td>
					<td><a
						th:href="@{'/books/edit?bookId=' + ${book.userBookId}}"><input
							type="button" value="Edit" /></a></td>
				</tr>
			</tbody>
		</table>
		<br /> <a th:href="@{'/books/new'}"><input type="button"
			value="New book"></a>
	</div>
	<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>