<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/general :: head"></head>
<body>
	<div class="content">
		<nav th:replace="fragments/menu :: menu"></nav>
		<br>
		<h1>Edit book</h1>
		<form th:object="${book}" method="post" th:action="@{'/books/edit'}">
			<div th:replace="fragments/bookFragments :: bookForm"></div>
			<p>
				<input type="submit" value="Update">
				<a th:href="@{/books/delete(selectedBook=*{userBookId})}">
				<input type="button" value="Delete"></a>
				<a th:href="@{/books}"><input type="button" value="Cancel"></a>
			</p>
		</form>
	</div>
	<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>