<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/general :: head"></head>
<body>
	<div class="content">
		<h1>New Book</h1>
		<nav th:replace="fragments/menu :: menu"></nav>
		<br>
		<h4>Input New Book</h4>
		<form th:object="${book}" method="post" th:action="@{'/books/new'}">
			<div th:replace="fragments/bookFragments :: bookForm"></div>
			<input type="submit" value="Add">
			<a th:href="@{/books}">
			<input type="button" value="Cancel">
			</a>
		</form>
	</div>
	<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>