<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/general :: head">
</head>
<body>
	<div class="content">
		<h1>Deleting a Movie</h1>
		<nav th:replace="fragments/menu :: menu"></nav>
		<h2>Are you sure?</h2>
		<form th:action="@{/movies/delete/confirm}" th:object="${movie}"
			method="POST">
			<table th:replace="fragments/forms :: movieFormRead"></table>
			<input value="Delete" type="submit"><a th:href="@{/movies/edit(movieId=${movie.userMovieId})}"><input
				value="Cancel" type="button"></a>
		</form>
	</div>
</body>
</html>