<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general :: head"></head>
<body>
	<div th:fragment="seasonForm">
		<input type="hidden" th:field="*{userSeasonId}">
		<p>
			TV Show: <input type="text" th:value="${season.tvShow.name}" th:readonly="${readOnly}">
		</p>
		<p>
			Season: <input type="number" th:field="*{seasonNum}" th:readonly="${readOnly}">
		</p>
		<p>
			Episode: <input type="number" th:field="*{episode}" th:readonly="${readOnly}">
		</p>
	</div>
</body>
</html>
