<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general :: head"></head>
<body>
	<div th:fragment="tvShowForm">
		<input th:field="*{userShowId}" hidden="True">
		<div th:each="error : ${#fields.errors('name')}" class="alert alert-danger alert-dismissible fade show">
		    <strong th:text="${error}"></strong>
		    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		<div th:each="error : ${#fields.errors('genre')}" class="alert alert-danger alert-dismissible fade show">
		    <strong th:text="${error}"></strong>
		    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		<p>
			Name: <input type="text" th:field="*{name}"  th:readonly="${readOnly}">
		</p>
		<p>
			Rating: <input type="number" th:field="*{rating}"  th:readonly="${readOnly}">
		</p>
		<p>
			Genre: <input type="text" th:field="*{genre}"  th:readonly="${readOnly}">
		</p>
		<p>
			Status: <select th:unless="${readOnly}" th:field="*{watching}">
				<option th:value="'Watching'" th:text="'Watching'"></option>
				<option th:value="'ToWatch'" th:text="'To-Watch'"></option>
				<option th:value="'Watched'" th:text="'Watched'"></option>
			</select>
			<input th:if="${readOnly}" type="text" th:field="*{watching}" readonly>
		</p>
		<p>
			Favorite: <input type="checkbox" th:field="*{isFavorite}" th:disabled="${readOnly}">
		</p>
	</div>
</body>
</html>
