html, body {
	height: 100%;
}
footer, .content{
	max-width: 1200px;
	margin: 0 auto;
	padding: 25px 40px;
}

.error {
	color: red;
}

.info {
	color: green;
}

/* 
	Scrolling Tables
	https://www.w3docs.com/snippets/html/how-to-create-a-table-with-a-fixed-header-and-scrollable-body.html
*/
.table-container {
	overflow-y: auto;
	height: 60vh;
}
.table-container thead th {
	position: sticky;
	top: 0;
	background: #fff;
}

.table-container table {
	border-collapse: separate;
	border-spacing: 0;
}

