<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/general :: head">
</head>
<body>
	<div class="registration content">
		<h2>Create your account</h2>
		<form th:action="@{'/registration'}" th:object="${userForm}"
			method="post">
			<div>
				<label>User Name:</label><input type="text" th:field="*{username}"
					placeholder="Username">
			</div>
			<div>
				<label>Password:</label><input type="password"
					th:field="*{password}">
			</div>
			<div>
				<label>Confirm Password:</label><input type="password"
					th:field="*{passwordConfirm}">
			</div>
			<input type="submit" value="Submit"><a th:href="@{/login}"><input
				type="button" value="Cancel" /></a>
		</form>
		<br />
		<footer th:replace="fragments/general :: footer"></footer>
	</div>

</body>
</html>