<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>DELETE SHOW</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Deleting a Show</h1>

	<div th:object="${show}">
		<table th:replace="fragments/tvShowFragments :: showFormRead"></table>
		<h2>Are you sure?</h2>
		<a th:href="@{/tvshows/delete/confirm(tvShowId=${show.tvShowId})}"><input
			value="Delete" type="button"></a> <a th:href="@{'/tvshows}"><input
			value="Cancel" type="button"></a>
		<div th:replace="fragments/general :: footer"></div>
	</div>
</body>
</html>