<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: head">
</head>
<body>
	<div class="content">
		<h1>Edit Show</h1>
		<nav th:replace="fragments/menu :: menu"></nav>
		<br>
		<div th:object="${show}">
			<form th:action="@{'/tvshows/edit'}" method="POST">
				<div th:replace="fragments/tvShowFragments :: tvShowForm"></div>
				<p>
					<input value="Update" type="submit"> <a
						th:href="@{/tvshows/delete(tvShowId=*{userShowId})}"> <input
						value="Delete" type="button"></a>
				</p>
			</form>
			<table class="minimalistBlack">
				<tr>
					<th>Season</th>
					<th>Episode</th>
					<th></th>
					<th></th>
				</tr>
				<tr th:each="season,iterStat : *{seasons}">
					<td th:text="${season.seasonNum}"></td>
					<td th:id="|season-${iterStat.index}|" th:text="${season.episode}"></td>
					<td><input type="submit"
						th:onclick="|decrement_season_episode(${season.userSeasonId}, ${iterStat.index})|"
						value="-"> <input type="button"
						th:onclick="|increment_season_episode(${season.userSeasonId}, ${iterStat.index})|"
						value="+"></td>
					<td><a th:href="@{/tvshows/season/set}"></a></td>
					<td><a
						th:href="@{/tvshows/deleteseason(seasonId=${season.userSeasonId},tvShowName=${show.name},showId=${show.userShowId})}"><input
							type="button" value="Delete"></a></td>
				</tr>
			</table>
			<p>
				<a th:href="@{/tvshows/addseason(tvShowId=*{userShowId})}"><input
					value="Add Season" type="button"></a>
			</p>
		</div>
		<div th:replace="fragments/general :: footer"></div>
	</div>
</body>
</html>