<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/general :: head"></head>
<body>
	<div class="content">
		<div class="container">
			<nav th:replace="fragments/menu :: menu"></nav>
			<h2>Welcome [[${#httpServletRequest.remoteUser}]]!</h2>
			<form id="logoutForm" method="post" th:action="@{'/logout'}">
				<a th:href="@{/}"><input type="button" value="Home"></a>
				<input type="submit" value="Logout">
			</form>
		</div>
	</div>
	<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>